p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: darkblue;
    line-height: 30px;
}

a {
    color: rgb(253, 9, 167);
}

/*a:visited {
    color: rgb(215, 209, 25);
}*/

a:hover {
    color: rgb(2, 204, 255);
}